@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%
}
body{
	background-image: linear-gradient(to bottom, #FFFFFF ,#E3C99F);
	
}
.bgNav{
	background-color: rgba(224, 191, 162, 0.8);
}
h1,h3{
	font-family: 'ABeeZee', sans-serif;
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
}
.section1{
	font-family: 'Overpass', sans-serif;
	font-size: 2rem;
	color: #A57945;
	text-align: center;
	font-weight: 600;

}


.widthIcon{
	width: 20%;
	padding: 0;
	margin: 2%;
}
.botonColor{
	background-color: #C2A371;
	font-size: 1,5rem;
}
.botonColor:hover{
	background-color: #F7E8D1; 
	font-weight: 600;
	color: black;
	cursor: pointer;
}
.otherIcon{
	display: inline-block;
	width: 100%;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	padding: 0;
	margin: 2%;
}